
/*


Las hojas de estilo CSS permiten modifiquemos o agreguemos propiedades
a nuestros componentes HTML (<div>,<input>,<h1>....)
Mediante selectores podremos asociar nuestros estilos a cada etiqueta html

Exten 3 tipos de selectores
 por Clase => CSS Syntax .clase => Para asignarlo al HTML <h1 class="clase">Titulo<h1/>
 por Identificador -> Syntax #identificador => Para asignarlo al HTML <h1 id="identificador">Titulo<h1/>
 por Etiqueta HTML -> Syntax etiqueta => Los etilos asignados por etiqueta se aplican de manerageneral a la etiqueta en todo el documento

*/
.color-accent{
    background-color: rgb(28, 70, 242);
    /*La propiedad color indica el color del texto fuente  */
    color: white;
}
.text-accent{
    color: rgb(28, 70, 242);
   
}
.text-gray{
    color: rgb(63, 65, 71);
   
}
/*
Esta clase corresponde al rectangulo color azul 
donde se encuentran los datos de contacto
*/
.capa-azul{
    /*la propiedad height sirve para
        definir la altura de nuestro componente HTML
    */
    height: 100%;
    /* al trabajar la medidas en porcentajes 
        logramos hacer que nuestros diseños se adapten
        mejor a las diferentes resoluciones de pantalla
    */
    width: 30%;
    margin-left: 10%;
}
.perfil-titulo{
    padding: 5%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0%
}
/*Muchas veces es necesario hacer que nuestro
    contenedor principal se expanda 100%
*/
html,body {
    height:100%;
}
/*
    Posicionamiento: 
    Existen varios tipos de posicionamiento los cuales poseen distintas caracteristicas y comportamiento,
    por lo que es convenniente conocerlos a detalle para saber en donde y cuando aplicarlos.

    Una vez que creamos nuestro componente y vemos donde quedo posicionado podemos movilizarlo con
    las propiedades top,right,bottom y left
    
    Absolute: Permite superponer(Colocar por encima de otro objetos ) componentes HTML
    Fixed : Permite mantener en posicion fija componentes html, es decir que aunque scroleemos la pagina
    nuestros componentes mantienen su posicion en patalla.
                                                                        <
    Relative:Posiciona nuestros componentes html de manera relativa a los componentes existentes, es decir 
    nuestro componente se va a ubicar al lado del ultimo componente agregado


*/
.foto-perfil{
    position: absolute;
    left: 30%;
    top: 15%;
}
.informacion-personal{
    position: absolute;
    left: 50%;
    top: 20%;
    padding: 5%;

}
.nombre-apellido{
    margin: 4px;
    font-size: 2.4em;
    font-family: Arial, Helvetica, sans-serif;
}
.especialidad{
    margin-top: 10px;
    font-size: 0.75em;
    font-family: Arial, Helvetica, sans-serif;

}
.informacion-contacto{
    margin-left: 10%;
    margin-top: 80%

}
.etiqueta{
    font-size: 0.8.5em;
}
.valor-etiqueta{
    font-size: 0.68em;
}
.parrafo{
    font-size: 0.64em;
    width : 40%;
    margin-top:8% ;
    font-family: Arial, Helvetica, sans-serif;
}